@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  width: 1920px;
  height: 5000px;
}

.backimg {
  display: flex;
  width: 1920px;
  height: 5000px;
  position: absolute;
}

.backimg img {
  display: flex;
  width: 1920px;
  height: 100%;
  position: absolute;
}
.header {
  width: 1920px;
  height: 7em;
  position: absolute;
  display: flex;
}

.logo {
  width: 250px;
  height: 50px;
  position: absolute;
  display: flex;
}
.logo > img {
  display: flex;
  top: -50px;
  position: absolute;
  width: 250px;
  height: 200px;
  margin-left: 50px;
}

.logo ul {
  width: 1200px;
  list-style: none;
  display: flex;
  position: absolute;
  margin-left: 600px;
  top: 60px;
}
.logo ul li {
  display: flex;
  width: 300px;
}
.font {
  color: #f3faf9;
  text-shadow: 3px 2px #4b8673;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Do Hyeon', sans-serif;
}

.backbox {
  position: absolute;
  width: 1920px;
  height: 42em;
  padding-left: 50px;
}

.backbox img {
  border-radius: 20px;
  position: absolute;
  width: 1800px;
  height: 500px;
  top: 120px;
  border: 5px solid rgba(255, 255, 255, 0.548);
}

.lg-text {
  font-size: 2rem;
  font-weight: 5px;
  margin-bottom: 5px;
}

#dynamic {
  top: 250px;
  color: #b7e5dd;
  text-shadow: 5px 5px#4B8673;
  z-index: 200;
  position: relative;
  display: inline-block;
  font-size: 180px;
  font-family: 'Lobster', cursive;
  text-align: center;
  align-items: center;
  margin-left: 386px;
}

#dynamic::after {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  right: -25px;
  width: 6px;
  height: 170px;
  background-color: #4b8673;
  font-family: 'Lobster', cursive;
}

#dynamic.active::after {
  display: none;
}

#containerBox {
  margin-left: 18em;
  width: 1350px;
  position: absolute;
  height: 1500px;
  background-color: #efece1;
  top: 43em;
  border-radius: 2%;
}
#button_wrap {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 700;
}
#before {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 100;
}
.fa-solid.fa-angles-left {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  background-color: #0bcbab;
  position: absolute;
  color: rgba(103, 119, 203, 0.881);
  font-size: 80px;
  top: 17em;
  margin-left: 1em;
}
#next {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 100;
}
.fa-solid.fa-angles-right {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  background-color: #0bcbab;
  position: absolute;
  color: rgba(103, 119, 203, 0.881);
  font-size: 80px;
  top: 17em;
  margin-left: 22em;
}

.allbox {
  top: 40em;
  width: 100%;
  height: 34em;
  position: relative;
  margin: 10px;
  display: flex;
  box-sizing: border-box;
  padding-left: 250px;
}

.allbox ul {
  width: 1920px;
  position: relative;
  top: 8em;
  display: flex;
  align-items: center;
}

.allbox ul li {
  box-sizing: border-box;
  background-color: #b3d6b9;
  width: 400px;
  height: 650px;
  z-index: 100;
  display: flex;
  position: static;
  border-radius: 5%;
  margin-left: 50px;
}

.o {
  padding: 0.8em;
  width: 400px;
  height: 380px;
  position: absolute;
  transition: all 1s linear;
}
.t {
  padding: 1em;
  width: 400px;
  height: 380px;
  opacity: 1;
}
.iner_text {
  background-color: #b3d6b9;
  width: 330px;
  height: 220px;
  position: absolute;
  bottom: 1px;
  text-align: center;
  color: #f4f9f9;
  margin-left: 50px;
}
.one {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px #4b8673;
}
.one_se {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 26px;
}
.o:hover {
  transition: all 1s linear;
  opacity: 0;
}
.t:hover {
  transition: all 2s linear;
  opacity: 1;
}
.iner_text {
  transition: all 0.4s linear;
}
.iner_text:hover {
  transform: translateY(-30%);
  opacity: 1;
}
.allbox_mi {
  width: 1920px;
  height: 650px;
  position: absolute;
  top: 35em;
}
.allbox_mi ul {
  width: 1920px;
  height: 600px;
}
.allbox_mi ul li {
  box-sizing: border-box;
  background-color: #b3d6b9;
  border-radius: 5%;
  width: 400px;
}
.o_i {
  padding: 15px;
  width: 400px;
  height: 380px;
  transition: all 1s linear;
  position: absolute;
}
.iner_text_m {
  background-color: #b3d6b9;
  width: 330px;
  height: 240px;
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: #f4f9f9;
  margin-left: 50px;
}
.iner_text_m {
  transition: all 0.4s linear;
}

.iner_text_m:hover {
  transform: translateY(-30%);
  opacity: 1;
}

.t_m {
  padding: 15px;
  width: 400px;
  height: 380px;
  opacity: 1;
}
.o_i:hover {
  transition: all 1s linear;
  opacity: 0;
}

.t_m:hover {
  transition: all 2s linear;
  opacity: 1;
}
.bottom_text {
  width: 1000px;
  height: 400px;
}
.bottom_text p {
  width: 900px;
  height: 400px;
  position: relative;
  z-index: 200;
  color: rgb(12, 39, 121);
  font-size: 40px;
  bottom: -42em;
  margin-left: 280px;
  font-family: 'Do Hyeon', sans-serif;
}

#underWrap {
  width: 1520px;
  height: 1300px;

  position: relative;
  bottom: -85em;
  display: flex;
  margin-left: 200px;
  border-radius: 5%;
}

.tex_box{
  margin-left: 20px;
  margin-top: 23px;
  display: flex;
  width: 400px;
  position: absolute;
}

.a_tb{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 28px;
}
.aa {
  display: flex;
  list-style: none;
}
.fi_iner {
  width: 35em;
  height: 1200;
}
.f_box {
  width: 26em;
  height: 950px;
  background-color: #efece1;
  border: 2px solid rgba(19, 18, 18, 0.548);
  display: flex;
  margin-top: 20px;
  margin-left: 75px;
  border-radius: 40px 50px 50px;
  display: flex;
  
}
.aa {
  width: 26em;
  height: 130px;
  list-style: none;
  margin-top: 90px;
  border-radius: 12px;
  display: inline-flex;
}

.a> img {
  width: 190px;
  height: 170px;
  border-radius: 20px;
  margin-left: 10px;
  }

.b >img {
  width: 190px;
  height: 170px;
  border-radius: 20px;
  margin-left: 10px;
}

.c >img {
  width: 187px;
  height: 150px;
  border-radius: 20px;
  margin-left: 15px;
}
.d >img {
  width: 187px;
  height: 150px;
  border-radius: 20px;
  margin-left: 10px;
}

.e >img {
  width: 187px;
  height: 150px;
  border-radius: 20px;
  margin-left: 15px;
}

.f >img {
  width: 187px;
  height: 150px;
  border-radius: 20px;
  margin-left: 10px;
}

.a_t{
  margin-top: 10px;
  display: block;
  text-align: center;
  align-items: center;
  font-size: 22px;
  font-family: 'Do Hyeon', sans-serif;
}
.a_t>a{
  text-decoration: none;
}

.aa_t{
  display: block;
  text-align: center;
  align-items: center;
  font-size: 19px;
  font-family: 'Do Hyeon', sans-serif;
}

.a_a >img{
  width: 350px;
  height: 200px;
  border-radius: 20px;
  margin-left: 40px;
}

.a_b >img{
  width: 350px;
  height: 200px;
  border-radius: 20px;
  margin-left: 40px;
 
}

.a_c >img{
  width: 350px;
  height: 200px;
  border-radius: 20px;
  margin-left: 40px;
}


.a_d >img{
  width: 260px;
  height: 150px;
  border-radius: 20px;
  margin-left: 20px;
  display: flex;
  
}
.a_e >img{
  width: 260px;
  height: 150px;
  border-radius: 20px;
  margin-left: 130px;
  display: flex;
  margin-top: -10px;
}

.a_tt{
  margin-top: 10px;
  display: block;
  text-align: center;
  align-items: center;
  font-size: 22px;
  font-family: 'Do Hyeon', sans-serif;
  margin-left: 110px;
}
.aaa {
  margin-top: 30px;
  width: 26em;
  height: 100px;
  list-style: none;
  border-radius: 12px;
  display: inline-flex;
}

.ssi_iner{
  margin-top: 60px;
}
